[Desktop Entry]
Name=Scrible
GenericName=Scrible App
Comment=Playing with Vala!
Categories=Education;
Exec=com.github.aeldemery.Scrible
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=scrible
Keywords=Scrible;Example;
